<h1 class="pb-3">Lista de Películas</h1>
<hr>
@if ( loaded) {
<div class="row justify-content-center">
    @for (movie of movies; track $index) {
    <div class="card m-2 col-12 col-sm-4 col-lg-2">
        <img class="card-img-top mt-3" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
            alt="Card image cap" />
        <div class="card-body">
            <p class="card-title"><b>{{ movie.title }}</b></p>
            <p class="card-text text-center">{{ movie.release_date }}</p>
            <div class="text-center">
                <a [routerLink]="['/pelicula/', movie.id]" class="btn btn-warning">Ver más</a>
            </div>
        </div>
    </div>
    }
</div>
}@else {
<h1 class="text-center"><i class="fas fa-spinner fa-pulse" aria-hidden="true"></i> Loading...</h1>
}