@if (loaded) {
<div class="text-center">
    <img class="card-img-top img-style" src="https://image.tmdb.org/t/p/w500{{ serie.poster_path }}"
        alt="{{ serie.title }}" />
</div>
<div class="card-body text-center">
    <h5 title="{{ serie.status }}" class="card-title">
        <b>{{ serie.title }} {{ serie.status }}</b>
    </h5>
</div>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <p><strong>Estado:</strong> {{ serie.status }}</p>
    </li>
    <li class="list-group-item">
        <p><strong>Descripción:</strong> {{ serie.overview }}</p>
    </li>
</ul>
} @else {
<h1 class="text-center"><i class="fas fa-spinner fa-pulse" aria-hidden="true"></i> Cargando...</h1>
}