<h1 class="pb-3">Pagina principal The Movie Db Web</h1>
<hr>
<p>¡Explora el universo cinematográfico de The Movie Db Web con nosotros!</p>

<p>Bienvenido a la web de "The Movie Db Web", tu puerta de entrada a un mundo lleno de emocionantes películas y series
    de todos los géneros. Nos conectamos directamente a la API de TheMovieDB para brindarte una experiencia
    cinematográfica única.</p>

<p>Cada visita es una nueva aventura, ya que nuestra plataforma selecciona al azar una variada muestra de películas y
    series: desde clásicos aclamados hasta las últimas novedades, asegurando una experiencia fresca y emocionante cada
    vez que cargas nuestra página.</p>

<p>Sin necesidad de buscar entre diferentes plataformas, te ofrecemos un vistazo exclusivo a la diversidad de historias
    que pueblan el universo de The Movie Db Web. ¿Qué película o serie descubrirás hoy en tu pantalla? ¡Eso es parte del
    misterio y la diversión!</p>